<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restaurant Manager</title>
</head>
<body>
{% load static %}
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
<script src="{% static 'js/bootstrap.bundle.js' %}" defer></script>

<nav id='menu'>
    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
    <ul>
        <li><a href='{% url "index-view" %}'>Home</a></li>
        <li><a class='dropdown-arrow' href='{% url 'upcoming-reservations' %}'>Rezerwacje</a>
            <ul class='sub-menus'>
                <li><a href='{% url 'create-reservation' %}'>Dodaj</a></li>
                <li><a href='{% url 'upcoming-reservations' %}'>Nadchodzące</a></li>
                <li><a href='{% url 'search-reservations' %}'>Szukaj</a></li>
            </ul>
        </li>
        <li><a class='dropdown-arrow' href='{% url 'menu-list' %}'>Menu</a>
            <ul class='sub-menus'>
                <li><a href='{% url 'menu-list' %}'>Ustalone Menu</a></li>
                <li><a href='{% url 'create-menu' %}'>Dodaj Menu</a></li>
                <li><a href='{% url 'create-dish' %}'>Dodaj danie</a></li>
                <li><a href='{% url 'dish-list' %}'>Lista dań</a></li>
            </ul>
        </li>
        <li><a href='http://'>Menu</a></li>
        <li><a href='http://'>Contact Us</a></li>
    </ul>

</nav>
<nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Navbar</a>
    <form class="form-inline" action="{% url 'search-reservations' %}" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
{% block content %}{% endblock content %}
</body>
</html>