{% extends 'base.html' %}
{% block content %}
    {{ message }}
    <form method="post">
        {% csrf_token %}
        <label>
            Nazwa Menu
            <input type="text" maxlength="128"
                   name="name" value="{{ name }}" required>
        </label>
        <br><br>
        <label>
            Cena
            <input type="number" name="price" value="{{ price }}" min="0" required>
        </label>
        <br><br>
        <label>
            <h5>Przystawka grupowa</h5>
            {% for dish in przystawka_grupowa %}
                <input type="checkbox" id="{{ dish }}" name="{{ dish }}"
                        {% if dish in dishes %}
                       checked
                        {% endif %}
                >
                <label for="{{ dish }}">{{ dish }}</label><br>
            {% endfor %}
        </label>
        <br>
        <label>
            <h5>Przystawka</h5>
            {% for dish in przystawka %}
                <input type="checkbox" id="{{ dish }}" name="{{ dish }}"
                        {% if dish in dishes %}
                       checked
                        {% endif %}
                >
                <label for="{{ dish }}">{{ dish }}</label><br>
            {% endfor %}
        </label>
        <br>
        <label>
            <h5>Zupa</h5>
            {% for dish in zupa %}
                <input type="checkbox" id="{{ dish }}" name="{{ dish }}"
                        {% if dish in dishes %}
                       checked
                        {% endif %}
                >
                <label for="{{ dish }}">{{ dish }}</label><br>
            {% endfor %}
        </label>
        <br>
        <label>
            <h5>Danie główne</h5>
            {% for dish in danie_glowne %}
                <input type="checkbox" id="{{ dish }}" name="{{ dish }}"
                        {% if dish in dishes %}
                       checked
                        {% endif %}
                >
                <label for="{{ dish }}">{{ dish }}</label><br>
            {% endfor %}
        </label>
        <br>
        <label>
            <h5>Deser</h5>
            {% for dish in deser %}
                <input type="checkbox" id="{{ dish }}" name="{{ dish }}"
                        {% if dish in dishes %}
                       checked
                        {% endif %}
                >
                <label for="{{ dish }}">{{ dish }}</label><br>
            {% endfor %}
        </label>
        <br><br>
        <input type="submit" value="Dodaj">
    </form>
{% endblock %}