{% extends 'base.html' %}
{% block content %}
    <h2>{{ res.date }} {{ res.hour|date:"G:i" }} - {{ res.name }}</h2>

    <ul>
        <li>Stół: {{ res.table }}
            <p>
                <button type="button" data-bs-toggle="collapse"
                        data-bs-target="#table_form"
                        aria-expanded="false" aria-controls="collapseExample">
                    Change table
                </button>
            </p>
            <div class="collapse" id="table_form">
                <form method="post" action="{% url 'save-table' res_id=res.id %}">
                    {% csrf_token %}
                    {{ table_form }}
                    <button type="submit">Dodaj stół</button>
                </form>
            </div>
        </li>

        <li>Ilość gości: {{ res.guest_number }}
            <p>
                <button type="button" data-bs-toggle="collapse"
                        data-bs-target="#guests_form"
                        aria-expanded="false" aria-controls="collapseExample">
                    Change guests
                </button>
            </p>
            <div class="collapse" id="guests_form">
                <form method="post" action="{% url 'save-guests' res_id=res.id %}">
                    {% csrf_token %}
                    {{ guest_number_form }}
                    <button type="submit">Zapisz</button>
                </form>
            </div>
        </li>
        <li>Menu: {{ res.menu }}
            <p>
                <button type="button" data-bs-toggle="collapse"
                        data-bs-target="#menu_form"
                        aria-expanded="false" aria-controls="collapseExample">
                    Change menu
                </button>
            </p>
            <div class="collapse" id="menu_form">
                <form method="post" action="{% url 'save-menu' res_id=res.id %}">
                    {% csrf_token %}
                    {{ menu_form }}
                    <button type="submit">Dodaj menu</button>
                </form>
                {% if res.menu %}
                    <form method="post" action="{% url 'remove-menu' res_id=res.id %}">
                        {% csrf_token %}
                        <button type="submit">Usuń menu</button>
                    </form>
                {% endif %}
            </div>
        </li>
        <li>
            <p>
                <button type="button" data-bs-toggle="collapse"
                        data-bs-target="#extra_info_form"
                        aria-expanded="false" aria-controls="collapseExample">
                    Dodaj informacje
                </button>
            </p>
            <div class="collapse" id="extra_info_form">
                <form method="post" action="{% url 'save-info' res_id=res.id %}">
                    {% csrf_token %}
                    {{ extra_info_form.as_p }}
                    <button type="submit">Zapisz</button>
                </form>
            </div>
        </li>
        {% if extra_info %}
            <li>
                <ol>
                    {% for name, value in extra_info.get_fields|slice:"1:" %}
                        {% if value > 0 %}
                            <li>{{ name }} : {{ value }}
                        {% endif %}
                    {% endfor %}
                    </li>
                </ol>
            </li>
        {% endif %}
        <button type="button" class="btn btn-danger shadow-none"
                data-bs-toggle="modal" data-bs-target="#confirmDelete">
            Usuń rezerwację
        </button>
        <div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="confirmDeleteLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteLabel">Potwierdzenie</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Czy na pewno chcesz usunąć rezerwację?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Powrót</button>
                        <form method="post" action="{% url 'delete-reservation' res_id=res.id %}">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-danger" value="Usuń">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ul>
    <div>

    </div>
{% endblock content %}