{% extends 'base.html' %}
{% block content %}
    <ul>
        {% for date in res_date %}
            <ol><h3><a href="{% url 'create-reservation' %}?date={{ date|date:'Y,n,d' }}">{{ date }} - {{ date|date:'l' }}</a></h3>
                {% for res in reservations %}
                    {% if res.date == date %}
                        <li>{{ res.hour|date:'G:i' }} -
                            <a href="/reservations/details/{{ res.id }}">{{ res.name }}</a> -
                            Gości: {{ res.guest_number }}</li>
                    {% endif %}
                {% endfor %}
            </ol>
        {% endfor %}
    </ul>
{% endblock %}